.calendar td {
  width: 30px;
  height: 30px;
  background: lightgray;
  text-align: center;
}

.calendar thead td {
  background: gray;
  color: white;
}

.calendar caption {
  background: gray;
  color: white;
  padding: 10px;
  margin: 2px;
}

.calendar .caption {
  background: gray;
  color: white;
  padding: 10px;
  margin: 0px 2px;
  text-align: center;
}

.calendar td.red {
  background: pink;
  color: red;
}

.calendar td.green {
  background: lightgreen;
  color: green;
}

.calendar td.blue {
  background: lightblue;
  color: blue;
}

.calendar td.weekend {
  background: pink;
  color: red;
}

.calendar.container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template: auto auto / auto;
  gap: 10px;
}

.calendar.container .year {
  display: grid;
  grid-template: auto auto auto / auto auto auto auto;
  gap: 10px;
  cursor: default;
}

.calendar .month {
  min-width: 224px;
}