main#init-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main#init-screen > .spacer {
  flex: 1;
}

main#init-screen > .message {
  text-align: center;
}
