/* Menu */



/* Form */

input {
  background-color: var(--input);
  border: none;
  outline: none;
}

input[disabled] {
  background-color: lightgray;
}

input:focus {
  outline: 1px solid var(--tropical-indigo);
}

input[type=button],
input[type=submit] {
  outline: none;
}

/* Login Form */

.login-form {
  text-align: center;
}

.login-form input[type=password] {
  width: 250px;
  text-align: center;
  font-size: 3em;
  margin: 25px;
  border: none;
  color: var(--tropical-indigo);
}

.login-form input[type=password]:focus {
  outline: 1px solid var(--tropical-indigo);
}

/* Other */

.calendar {
  font-size: 12px;
}

.weekend {
  color: Tomato;
}

.month {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
