/*

Colors Schema

#F1E3D4   hsl(31, 51%, 89%)
#D88C9A 	hsl(349, 49%, 70%)
#F2D0A9   hsl(32, 74%, 81%)
#99C1B9   hsl(168, 24%, 68%)
#8E7DBE   hsl(256, 33%, 62%)

*/

:root {
  /* Common Colors */

  --background: hsl(31, 51%, 89%);
  --text-color: hsl(0, 0%, 10%);
  --accent: hsl(349, 49%, 70%);
  --accent-rgb: 216, 141, 155;
  --default: hsl(32, 74%, 81%);
  --cambridge-blue: hsl(168, 24%, 68%);
  --tropical-indigo: hsl(256, 33%, 62%);

  /* UI Elements Colors */

  /* --panel: var(--accent);
  --button-default: var(--background);
  --button-hover: hsl(31, 51%, 86%);
  --button-active: hsl(31, 51%, 83%);
  --button-border: gray;
  --accent-button: var(--accent);
  --accent-button-hover: hsl(349, 49%, 64%);
  --accent-button-active: hsl(349, 49%, 67%);
  --panel-button: var(--accent);
  --panel-button-hover: hsl(349, 49%, 64%);
  --panel-button-active: hsl(349, 49%, 67%);
  --input: hsl(31, 51%, 98%); */

  /* UIKit color schema */

  /* --toolbar-background: var(--accent);
  --toolbar-button-hover: hsl(349, 49%, 64%);
  --toolbar-button-active: hsl(349, 49%, 67%); */

  /* Bootstrap Theme */

  /* Colors */

  --bs-body-color: var(--text-color);
  --bs-body-bg: var(--background);
  --bs-primary: var(--accent);
  --bs-primary-rgb: var(--accent-rgb);

  /* Fonts */

  --bs-body-font-size: 16px;
}

body {
  user-select: none;
}

/*
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2em;
} */
