.calendar {
  font-size: 12px;
}

.calendar caption {
  font-weight: bold;
}

.calendar .weekend {
  color: Tomato;
}

.calendar .month {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
