<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header class="panel"><ul class="menu clearfix">
    <li><button>&lt;</button><span>2023</span><button>&gt;</button></li>
    <li class="right"><button onclick="location.href='lock-screen.html'">Блокировка</button></li>
    <li class="right"><button onclick="location.href='settings-screen.html'">Параметры</button></li>
    <li class="right"><button onclick="location.href='settings-screen.html'">?</button></li>
    <li class="right"><button onclick="location.href='controls.html'">Контролы</button></li>
  </ul></header>

  <main class="main-content">
    <div id="calendar" class="calendar clearfix"></div>
  </main>
<script>

const columns = [];
const rows = [];

rows.push('<tr><th colspan="7">Январь</th></tr>');

rows.push(`<tr>${['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'].map((item, index) => `<td ${index > 4 ? 'class="weekend"' : ""}>${item}</td>`).join('')}</tr>`);

for (let i = 0; i < 31; i++) {
  if (columns.length > 4) {
    columns.push(`<td class="weekend">${i + 1}</td>`);
  } else {
    columns.push(`<td>${i + 1}</td>`);
  }

  if (columns.length === 7) {
    rows.push(`<tr>${columns.join('')}</tr>`);
    columns.length = 0;
  }
}

if (columns.length !== 0) {
  rows.push(`<tr>${columns.join('')}</tr>`);
}

const calendar = [];

for (let i = 0; i < 12; i++) {
  calendar.push(`<div class="month"><table>
    ${rows.join('')}
  </table></div>`);
}




document.getElementById('calendar').innerHTML = calendar.join('');

</script>


</body>
</html>