<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Settings</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="panel top-panel clearfix"><ul class="menu">
    <button type="button" onclick="location.href='main-screen.html'">&lt;</button>
  </ul></header>

  <main>
    <form>
      <section>
        <h1>Настройки</h1>
        <section>
          <h2>Цикл</h2>
          <input type="radio" id="period-auto-detect" name="period-type"><label for="period-auto-detect">Автоматическое определение</label><br>
          <input type="radio" id="period-manual" name="period-type" checked><label for="period-manual">Вручную</label> (<label for="period">дней в цикле:</label> <input type="number" id="period" value="28">)<br>
        </section>
        <br><input type="submit" value="Сохранить">
      </section>
    </form>

    <section>
      <h1>О программе</h1>
      <p>Календарь, версия 1.0.0. 2023.</p>
    </section>
  </main>
</body>
</html>