<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar Settings</title>
  <link rel="stylesheet" href="main-screen.css">
</head>
<body>
  <header class="panel"><ul class="menu clearfix">
    <button type="button" onclick="location.href='main-screen.html'">&lt;</button>
  </ul></header>

  <div>
    <p>Съешь еще этих мягких франзузских булок, да выпей чаю.</p>
    <p class="test1">Съешь еще этих мягких франзузских булок, да выпей чаю.</p>
    <p class="test2">Съешь еще этих мягких франзузских булок, да выпей чаю.</p>
  </div>

  <div>
    <button>Hello</button>
    <button class="main-btn">Hello</button>
  </div>
</body>
</html>