/* hex colors */

/*

Colors

  #F1E3D4   hsl(31, 51%, 89%)
  #D88C9A 	hsl(349, 49%, 70%)
  #F2D0A9   hsl(32, 74%, 81%)
  #99C1B9   hsl(168, 24%, 68%)
  #8E7DBE   hsl(256, 33%, 62%)

  More standard HTML colors

  Tomato
  Orange
  DodgerBlue
  MediumSeaGreen
  Gray
  SlateBlue
  Violet
  LightGray

*/

:root {
  /* Colors */

  --background: hsl(31, 51%, 89%);
  --accent: hsl(349, 49%, 70%);
  --default: hsl(32, 74%, 81%);
  --cambridge-blue: hsl(168, 24%, 68%);
  --tropical-indigo: hsl(256, 33%, 62%);
  --text-color: hsl(0, 0%, 10%);

  /* UI Elements Colors */

  --panel: var(--accent);

  --button-default: var(--background);
  --button-hover: hsl(31, 51%, 86%);
  --button-active: hsl(31, 51%, 83%);
  --button-border: gray;

  --accent-button: var(--accent);
  --accent-button-hover: hsl(349, 49%, 64%);
  --accent-button-active: hsl(349, 49%, 67%);

  --panel-button: var(--accent);
  --panel-button-hover: hsl(349, 49%, 64%);
  --panel-button-active: hsl(349, 49%, 67%);

  --input: hsl(31, 51%, 92%);

  /* Font */

  --system: system-ui, -apple-system, sans-serif;
}

/* Main */

body {
  font: 16px var(--system);
  user-select: none;
  background-color: var(--background);
  color: var(--text-color);
  margin: 0px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

main {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

/* Buttons */

button {
  background-color: var(--button-default);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  padding: 5px 10px;
  font: 0.9em var(--system);
}

button:hover {
  background-color: var(--button-hover);
}

button:active {
  background-color: var(--button-active);
}

button[disabled]:hover,
button[disabled]:active {
  background-color: var(--background);
}

button.accent {
  background-color: var(--accent-button);
}

button.accent:hover {
  background-color: var(--accent-button-hover);
}

button.accent:active {
  background-color: var(--accent-button-active);
}

button[disabled],
button[disabled]:hover,
button[disabled]:active {
  background-color: var(--background);
}

/* Menu */

.menu {
  list-style: none inside;
  padding: 0px;
  margin: 0px;
}

.menu li {
  float: left;
}

.menu li.right {
  float: right;
}

.menu button,
.menu span {
  margin: 0px 5px;
}

/* Panel */

.panel {
  margin: 0px;
  padding: 3px 10px;
  background-color: var(--panel);
}

.panel button {
  min-width: 32px;
  min-height: 32px;
}

.panel .menu button {
  background-color: var(--accent-button);
  border: none;
}

.panel .menu button:hover {
  background-color: var(--accent-button-hover);
}

.panel .menu button:active {
  background-color: var(--accent-button-active);
}

/* Top Panel */












input {
  background-color: var(--input);
  color: var(--tropical-indigo);
}




.calendar {
  font-size: 12px;
}

.weekend {
  color: Tomato;
}

.month {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}


